{% extends 'base.html.twig' %}

{% block title %}Your profile!{% endblock %}

{% block body %}
<div class="container col-lg-6 col-md-12">
    <nav class="nav nav-tabs nav-fill">
        <a class="active nav-item nav-link" href="#home" data-toggle="tab">Profile</a>
        <a class="nav-item nav-link" href="#profile" data-toggle="tab">Password</a>
    </nav>
    <div class="tab-content">
        <div class="tab-pane active in" id="home" role="tabpanel">
            {{ form_start(form, {'attr' : {'class' : 'm-2'}} ) }}
                {{ form_row(form.firstname, {'label' : 'Firstname'}) }}
                {{ form_row(form.lastname, {'label' : 'Lastname'}) }}
                {{ form_row(form.email, {'label' : 'Email'}) }}
            <button type="submit" class="btn btn-success m-2">Update Info</button>
            {{ form_end(form) }}
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel">
            {{ form_start(passwordForm, {'attr' : {'class' : 'm-2'}} ) }}
                {{ form_row(passwordForm.plainPassword, {'label' : 'New password'}) }}
            <button type="submit" class="btn btn-success m-2">Update password</button>
            {{ form_end(passwordForm) }}
        </div>
    </div>
</div>
{% endblock %}