{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block auth %}
{% endblock %}
{% block body %}
<form method="post" class="container col-md-12 col-lg-6">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <div class="custom-control custom-checkbox mb-3">
            <input id="customCheck"  class="custom-control-input" type="checkbox" name="_remember_me">
            <label for="customCheck" class="custom-control-label">
                Remember me
            </label>
        </div>


    <button class="btn btn-lg btn-primary m-2" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
