{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container col-lg-6 col-md-12">
        <h1>Register</h1>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm) }}
        <label>
            <input class="btn btn-success form-control" type="submit">
        </label>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
