{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block home %}active{% endblock %}

{% block body %}
    <div class="container col-lg-10 col-md-12">


        <h2>
            Home Page
        </h2>
        <div class="center-block">
            Log in to see your todo list
        </div>
        <div class="row">
            <div class="col m-auto">
                <h3>Fake user</h3>
                <ul class="list-group" >
                    <li class="list-group-item" >
                        <strong>email:</strong> user@def.com
                    </li>
                    <li class="list-group-item">
                        <strong>password:</strong> abc
                    </li>
                </ul>
            </div>
            <div class="col m-auto">
                <h3>Fake admin</h3>
                <ul class="list-group" >
                    <li class="list-group-item" >
                        <strong>email:</strong> def@def.com
                    </li>
                    <li class="list-group-item">
                        <strong>password:</strong> password
                    </li>
                </ul>
            </div>
            <div class="py-auto pt-4 text-center align-content-center">
                <a class="my-2 mt-4  d-inline d-md-block btn btn-success" href="{{ path('app_login') }}">Sign in</a>
                <a class="my-2 d-inline d-md-block btn btn-primary" href="{{ path('app_register') }}">Sign up</a>
            </div>
        </div>
    </div>
{% endblock %}
