<tr id="{{ todo.id }}" class="">
    <th id="index" scope="row">{{i}}</th>
    <td>{{todo.name}}</td>
    <td>{{todo.createdate | date('F j, Y, g:i a')}}</td>
    <td>{{todo.duedate | date('F j, Y, g:i a')}}</td>
    {% if context == 'task' and todo.done %}
        <td>
            <i class="material-icons text-success align-middle">done</i>
        </td>
    {% elseif context == 'task' %}
        <td>
            <i class="material-icons text-danger align-middle">close</i>
        </td>
    {% endif %}
    <td class="">
        <div class="col">
            {% if context == 'list' %}
                <a data-action="details" href="{{ path(context ~ '_details', {'id': todo.id}) }}" class="btn btn-success m-1">
                    <i class="material-icons  text-light">remove_red_eye</i>
                </a>
                <a data-action="edit" href="{{ path(context ~ '_edit', {'id': todo.id}) }}" class="btn btn-warning m-1">
                    <i class="material-icons  text-light">edit</i>
                </a>
                <a data-action="delete" href="{{ path(context ~ '_delete', {'id': todo.id}) }}" class="btn btn-danger m-1">
                    <i class="material-icons text-light">delete_forever</i>
                </a>
            {% elseif context == 'task' %}
                {% if not todo.done %}
                    <a data-action="done" data-id="{{ todo.id }}" data-target="{{ path(context ~ '_done', {'id': todo.id}) }}" class="action done btn btn-success m-1">
                        <i class="material-icons  text-light">done</i>
                    </a>
                    {% else %}
                    <a data-action="done" data-id="{{ todo.id }}" data-target="{{ path(context ~ '_done', {'id': todo.id}) }}" class="action done btn btn-danger m-1">
                        <i class="material-icons  text-light">close</i>
                    </a>
                {% endif %}
                <a data-action="details" data-id="{{ todo.id }}" data-target="{{ path(context ~ '_details', {'id': todo.id}) }}" class="action details btn btn-primary m-1">
                    <i class="material-icons  text-light">remove_red_eye</i>
                </a>
                <a data-action="edit" data-id="{{ todo.id }}" data-target="{{ path(context ~ '_edit', {'id': todo.id}) }}" class="action edit btn btn-warning m-1">
                    <i class="material-icons  text-light">edit</i>
                </a>
                <a data-action="delete" data-id="{{ todo.id }}" data-target="{{ path(context ~ '_delete', {'id': todo.id}) }}" class="action delete btn btn-danger m-1">
                    <i class="material-icons text-light">delete_forever</i>
                </a>
            {% endif %}
        </div>
    </td>
</tr>