<table class="table table-bordered table-responsive-md">
    <thead>
    <tr class="">
        <th scope="col">#</th>
        <th scope="col">{{ context | capitalize }} Name</th>
        <th scope="col">Assigned Date</th>
        <th scope="col">Due Date</th>
        {% if context == 'task' %}
            <th scope="col">Done</th>
        {% endif %}
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% set i = 1 %}
    {% if todos | length > 0 %}

        {% for todo in todos %}
            {{include('include/element.html.twig', {'context' : context, 'i' : i, 'todo' : todo })}}
            {% set i = i +1 %}

        {% endfor %}
    {% else %}
        <tr id="no">
            {% if context == 'task' %}
                <td colspan="6" class="text-center">No todos</td>
            {% else %}
                <td colspan="5" class="text-center">No todos</td>
            {% endif %}
        </tr>
    {% endif %}
    </tbody>
    <tfoot>
    <tr>
        {% if context == 'task' %}
            <td colspan="6" class="text-center" >
                <a id="new" class=" m-1" data-toggle="modal" data-target="{{ path(context ~ '_create', {'id': list_id}) }}" data-id="{{ list_id }}">
                    <i class="material-icons btn btn-success">fiber_new</i>
                </a>
            </td>
        {% else %}
            <td colspan="5" class="text-center" >
                <a id="new" class=" m-1" href="{{ path(context ~ '_create') }}" >
                    <i class="material-icons btn btn-success">fiber_new</i>
                </a>
            </td>
        {% endif %}
    </tr>
    </tfoot>
</table>
<!-- Modal -->
<div class="modal fade" id="new_form" tabindex="-1" role="dialog" aria-labelledby="new_formLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_formLabel">New {{ context }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {#
                    form content
                 #}
            </div>
        </div>
    </div>
</div>