{% extends 'base.html.twig' %}
{% block title %}
Create a new list
{% endblock %}
{% block body %}
    <div class="container col-lg-6 col-md-12">
    <h2 class='page-header'>Create Todos</h2>
    {{ include('include/form.html.twig', {'form':form, 'button' : 'Add new', 'context' : 'list', action : 'create', 'id' : ''}) }}
    </div>
{% endblock %}