{% extends 'base.html.twig' %}
{% block title %}
    List details & Tasks
{% endblock %}
{% block body %}
    <a class=" btn btn-danger" href="{{ path('list_home') }}">
        <i class="material-icons text-light">chevron_left</i>
    </a>
    <div class="container col-lg-11 col-md-12">
        <div class="row my-2">
            <h2  class="col-md-12">List Detail: {{todolist.name}}</h2>
            <ul class="col-md-8 list-group">
                {#<li class="list-group-item">Category : {{category}}</li>#}
                <li class="list-group-item"><strong>Create:</strong> {{todolist.createdate | date('F j, Y, g:i a')}}</li>
                <li class="list-group-item"><strong>Description</strong> : {{todolist.description}}</li>
                <li class="list-group-item"><strong>Due:</strong> {{todolist.duedate | date('F j, Y, g:i a')}}</li>
            </ul>
            <div class="col-md-4 py-2 text-lg-left text-center">
                <div class="col d-inline d-md-block  my-2">
                    <a href="{{ path('list_edit', {'id': todolist.id}) }}" class=" btn btn-warning my-auto">
                        <i class="material-icons  text-light">edit</i>
                    </a>
                </div>
                <div class="col d-inline d-md-block my-2" >
                    <a href="{{ path('list_delete', {'id': todolist.id}) }}" class=" btn btn-danger my-auto">
                        <i class="material-icons text-light">delete_forever</i>
                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <h2 class="col-md-12"> Tasks</h2>
            {{ include('include/list.html.twig', {'todos' : todolist.tasks, 'list_id' : todolist.id, 'context' : 'task'}) }}
        </div>
    </div>

{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
