{% extends 'base.html.twig' %}
{% block title %}
    List
{% endblock %}
{% block list %}active{% endblock %}

{% block body %}
<div class="container col-lg-10 col-md-12">
<h2>Your list</h2>
    {{ include('include/list.html.twig', {'todos' : todos,'list_id' : 0, 'context' : 'list'}) }}
</div>
{% endblock %}
